/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

.text-center {
  text-align: center; }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

.btn {
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  border-radius: 5px; }
  .btn[disabled], .btn.disabled {
    cursor: not-allowed; }

.btn-primery-purple, .btn-primery-orange, .btn-global {
  height: 4.25rem;
  width: 13.4375rem;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  border: none;
  color: white; }
  @media (max-width: 767px) {
    .btn-primery-purple, .btn-primery-orange, .btn-global {
      width: 17.5rem; } }

.btn-primery-orange {
  background-color: #ee5d30; }

.btn-primery-purple {
  background-color: #2f2339; }

.footer-form-area .form-item {
  margin: 1rem 0;
  display: flex;
  align-items: flex-start; }
  .footer-form-area .form-item label {
    display: inline-block;
    width: 20%;
    font-family: "Lato", sans-serif;
    font-size: 1.0625rem;
    color: #585858;
    font-weight: 400; }
  .footer-form-area .form-item input, .footer-form-area .form-item textarea {
    border: none;
    border-bottom: 2px solid #cacaca;
    width: 70%;
    padding: 0.375rem;
    color: #585858; }
    .footer-form-area .form-item input:focus, .footer-form-area .form-item textarea:focus {
      outline: none; }
  .footer-form-area .form-item textarea {
    resize: none; }

html, body {
  font-family: "Lato", sans-serif;
  font-size: 8px; }
  @media (min-width: 576px) {
    html, body {
      font-size: 10px; } }
  @media (min-width: 768px) {
    html, body {
      font-size: 12px; } }
  @media (min-width: 992px) {
    html, body {
      font-size: 14px; } }
  @media (min-width: 1200px) {
    html, body {
      font-size: 16px; } }

.container {
  width: 80%;
  margin: 0 auto; }

@font-face {
  font-family: 'font-icon';
  src: url("../fonts/font-icon.eot?sntrq8");
  src: url("../fonts/font-icon.eot?sntrq8#iefix") format("embedded-opentype"), url("../fonts/font-icon.ttf?sntrq8") format("truetype"), url("../fonts/font-icon.woff?sntrq8") format("woff"), url("../fonts/font-icon.svg?sntrq8#font-icon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'font-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-social:before {
  content: "\e900"; }

.icon-twitter:before {
  content: "\e901"; }

.icon-skype:before {
  content: "\e902"; }

.icon-linkedin:before {
  content: "\e903"; }

.icon-message:before {
  content: "\e904"; }

.icon-smartphone:before {
  content: "\e905"; }

.icon-location:before {
  content: "\e906"; }

.icon-phone:before {
  content: "\e942"; }

.banner {
  background-image: url("../images/header-bg.png");
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 63.25rem; }
  .banner .layout {
    background-color: rgba(0, 0, 0, 0.6);
    height: 63.25rem;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center; }
  .banner .header-content {
    max-width: 43.75rem;
    padding-right: 14.75rem;
    margin-right: 12.5rem; }
    @media (max-width: 575px) {
      .banner .header-content {
        max-width: 100%;
        margin-left: 26px;
        text-align: left;
        padding-right: 0px;
        margin-right: 0px; } }
    .banner .header-content h1 {
      color: white;
      font-size: 6.25rem;
      margin: 0;
      padding: 0;
      line-height: 85px;
      font-family: "Montserrat", sans-serif; }
      @media (max-width: 575px) {
        .banner .header-content h1 {
          font-size: 35px;
          line-height: 40px; } }
    .banner .header-content p {
      font-size: 1.125rem;
      color: white;
      padding-bottom: 2.375rem;
      padding-top: 4.25rem;
      line-height: 1.75rem;
      font-family: "Lato", sans-serif; }
      @media (max-width: 575px) {
        .banner .header-content p {
          font-size: 15px;
          padding-top: 1.1875rem;
          line-height: 15px; } }

.about-company {
  display: flex;
  justify-content: flex-end;
  background-image: url("../images/banner-image.png"); }
  .about-company .text {
    background-color: #2f2339;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 40px 100px 0px; }
    @media (max-width: 575px) {
      .about-company .text {
        width: 80%;
        padding-right: 1rem; } }
    .about-company .text .ab-content {
      width: 35.875rem;
      margin-left: 11.625rem; }
      @media (max-width: 575px) {
        .about-company .text .ab-content {
          margin-left: 22px; } }
      .about-company .text .ab-content h1 {
        color: white;
        font-size: 3.20375rem; }
      .about-company .text .ab-content .top {
        color: white;
        font-size: 1.125rem;
        line-height: 1.75rem;
        padding-bottom: 1.375rem; }
        @media (max-width: 575px) {
          .about-company .text .ab-content .top {
            font-size: 13px; } }
      .about-company .text .ab-content .bottom {
        color: white;
        font-size: 1.125rem;
        padding-bottom: 4.375rem;
        line-height: 1.875rem; }
        @media (max-width: 575px) {
          .about-company .text .ab-content .bottom {
            font-size: 13px;
            padding-bottom: 15px; } }

footer .thanks-greeting {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  background-image: url("../images/footer-img.jpg");
  background-position: center;
  background-size: cover; }
  footer .thanks-greeting .container {
    margin: 0 auto;
    padding: 7.375rem 0; }
    footer .thanks-greeting .container h2 {
      font-size: 3.1875rem;
      font-weight: 600;
      margin: 2.0625rem 0; }
    footer .thanks-greeting .container h4 {
      font-size: 2.0625rem;
      font-weight: 600;
      margin: 2.0625rem 0; }
    footer .thanks-greeting .container p {
      font-family: "Lato", sans-serif;
      font-size: 1.25rem;
      padding: 0 14.375rem;
      font-weight: 300; }
      @media (max-width: 575px) {
        footer .thanks-greeting .container p {
          padding: 0 1.875rem;
          line-height: 1.5;
          font-size: 14px; } }
footer .contact .container {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap; }
  footer .contact .container .contact-info {
    padding: 4.375rem 0;
    min-width: 35%; }
    @media (max-width: 575px) {
      footer .contact .container .contact-info {
        width: 100%; } }
    footer .contact .container .contact-info h3 {
      font-family: "Lato", sans-serif;
      font-size: 1.125rem;
      text-transform: uppercase;
      font-weight: 900; }
    footer .contact .container .contact-info .info-item {
      display: flex;
      align-items: center;
      width: 90%;
      margin: 1.875rem 0; }
    footer .contact .container .contact-info .icon {
      background-color: #ee5d30;
      padding: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 1000px;
      margin-right: 2.5rem; }
      footer .contact .container .contact-info .icon i {
        color: #fff;
        font-size: 1.875rem; }
    footer .contact .container .contact-info .text h5, footer .contact .container .contact-info .text p {
      margin: 0;
      font-family: "Lato", sans-serif; }
    footer .contact .container .contact-info .text h5 {
      font-size: 1.125rem;
      font-weight: bold; }
    footer .contact .container .contact-info .text p {
      color: #585858;
      margin: 0.375rem 0; }
  footer .contact .container .footer-form {
    padding: 4.375rem 0;
    min-width: 40%; }
    @media (max-width: 575px) {
      footer .contact .container .footer-form {
        width: 100%; } }
    footer .contact .container .footer-form h3 {
      font-family: "Lato", sans-serif;
      font-size: 1.125rem;
      font-weight: 900;
      margin-bottom: 2.8125rem; }
    footer .contact .container .footer-form .btn-primery-orange {
      margin-left: 20%;
      margin-top: 1.875rem; }
      @media (max-width: 767px) {
        footer .contact .container .footer-form .btn-primery-orange {
          font-size: 1rem; } }
footer .bottom-footer {
  background-color: #2f2339;
  color: #fff;
  text-align: center;
  padding: 2.1875rem 0; }
  footer .bottom-footer .container {
    margin: 0 auto; }
    footer .bottom-footer .container p {
      font-size: 1.0625rem;
      margin: 1.25rem 0; }

.navbar {
  font-size: 0.9375rem;
  padding: 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold; }
  .navbar .logo {
    text-decoration: none;
    color: black;
    display: inline-block; }
  .navbar i {
    display: none;
    font-size: 1.5625rem; }

.icons {
  display: flex; }
  .icons a {
    text-decoration: none; }
    .icons a i {
      color: black;
      font-size: 1.125rem;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-right: 1.5625rem; }

.main-nav {
  list-style-type: none;
  display: flex; }
  .main-nav .nav-links {
    text-decoration: none;
    color: black; }
  .main-nav li {
    font-family: "Lato", sans-serif;
    padding: 0rem 0.625rem;
    font-size: 1.125rem; }

@media (max-width: 991px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    align-items: center; }
    .navbar i {
      display: block; }
    .navbar .logo img {
      width: 6.25rem; }

  .main-nav {
    display: none; }

  .main-nav li {
    margin: 0; }

  .nav-links {
    margin-left: 40px; }

  .logo {
    margin-top: 0; }

  .navbar-toggle {
    display: none; }

  .logo:hover,
  .nav-links:hover {
    color: #ee5d30; } }
.product-box {
  display: flex;
  justify-content: flex-end; }

.product-image {
  height: 51.375rem;
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: flex-end;
  z-index: 2; }
  .product-image img {
    margin-right: -150px; }

.product-details {
  background-color: #2f2339;
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5.625rem; }
  .product-details .product-details-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    margin-bottom: 2.6875rem; }
  .product-details h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 3.1875rem;
    color: white;
    margin: 0.6875rem 0; }
  .product-details .product-descriptions {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .product-details .product-descriptions .product-description {
      margin-bottom: 2.5rem; }
    .product-details .product-descriptions p, .product-details .product-descriptions h3 {
      color: white;
      font-family: "Lato", sans-serif; }
    .product-details .product-descriptions h3 {
      font-size: 1.5rem; }
    .product-details .product-descriptions p {
      font-size: 1.125rem; }

@media (max-width: 991px) {
  .product-box {
    flex-wrap: wrap; }
    .product-box .product-image {
      justify-content: center;
      flex-basis: 685px;
      height: 100%;
      align-items: normal; }
      .product-box .product-image img {
        margin: 50px 0 -50px 0; }
    .product-box .product-details {
      flex-basis: 660px; }
      .product-box .product-details .product-details-container {
        align-items: center;
        width: 90%; }
        .product-box .product-details .product-details-container .headings {
          text-align: center; }
          .product-box .product-details .product-details-container .headings h1 {
            font-size: 2.5625rem; }
        .product-box .product-details .product-details-container .product-descriptions {
          text-align: center; } }
.showcase-box {
  display: flex;
  flex-wrap: wrap; }

.showcase-images {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center; }
  .showcase-images .showcase-images-container {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin: 6.125rem 0.75rem 6.125rem 0; }
  .showcase-images .showcase-image {
    width: 17.625rem;
    margin: 0 0.9375rem; }
    .showcase-images .showcase-image h3, .showcase-images .showcase-image p {
      color: black;
      font-family: "Lato", sans-serif; }
    .showcase-images .showcase-image p {
      line-height: 1.875rem;
      font-size: 1.125rem; }
  .showcase-images img {
    width: 17.625rem;
    height: 11.75rem; }

.showcase-description {
  flex: 1;
  flex-basis: 353px;
  background-color: #ee5d30; }
  .showcase-description .showcase-description-container {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin-left: 0.75rem; }
  .showcase-description .showcase-detail {
    width: 23.75rem; }
    .showcase-description .showcase-detail h1 {
      font-family: "Montserrat", sans-serif;
      font-weight: 600;
      font-size: 3.1875rem;
      color: white;
      margin: 0.6875rem 0; }
    .showcase-description .showcase-detail .showcase-details h3, .showcase-description .showcase-detail .showcase-details p {
      color: white;
      font-family: "Lato", sans-serif; }
    .showcase-description .showcase-detail .showcase-details p {
      line-height: 1.875rem;
      font-size: 1.125rem; }

@media (max-width: 991px) {
  .showcase-description {
    width: 100%;
    flex: none;
    justify-content: center;
    align-items: center; }
    .showcase-description .showcase-description-container {
      width: 100%;
      margin-left: 0; }
      .showcase-description .showcase-description-container .showcase-detail {
        width: 100%;
        margin: 0.75rem 0; }
        .showcase-description .showcase-description-container .showcase-detail .headings, .showcase-description .showcase-description-container .showcase-detail .showcase-details {
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center; }
          .showcase-description .showcase-description-container .showcase-detail .headings button, .showcase-description .showcase-description-container .showcase-detail .showcase-details button {
            font-size: 0.75rem; }

  .showcase-box .showcase-images .showcase-images-container {
    justify-content: center; }
    .showcase-box .showcase-images .showcase-images-container .showcase-image {
      text-align: center; } }
.we-are-creative-agency {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 0px; }
  .we-are-creative-agency .we-are-creative-agency-container {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; }
    .we-are-creative-agency .we-are-creative-agency-container .purple-div {
      position: absolute;
      left: -200px;
      top: 0px;
      width: 30%;
      height: 100%;
      background-color: #2f2339;
      z-index: -1; }
    .we-are-creative-agency .we-are-creative-agency-container .creative-box-left {
      background-color: #2f2339;
      min-width: 300px;
      width: 75%; }
      .we-are-creative-agency .we-are-creative-agency-container .creative-box-left h1 {
        padding: 20px;
        color: #fff;
        font-size: 3.125rem; }
      .we-are-creative-agency .we-are-creative-agency-container .creative-box-left div {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        color: #fff;
        padding-bottom: 30px; }
        .we-are-creative-agency .we-are-creative-agency-container .creative-box-left div .box {
          margin: 20px;
          width: 300px;
          min-width: 275px;
          max-width: 100%;
          padding-right: 85px; }
          .we-are-creative-agency .we-are-creative-agency-container .creative-box-left div .box p {
            line-height: 30px;
            font-size: 1.25rem; }
            .we-are-creative-agency .we-are-creative-agency-container .creative-box-left div .box p span {
              display: block;
              padding: 10px 0px; }
    .we-are-creative-agency .we-are-creative-agency-container .ipad-right {
      width: 50%;
      display: flex;
      justify-content: flex-start;
      align-items: center; }
      .we-are-creative-agency .we-are-creative-agency-container .ipad-right img {
        margin-left: -120px; }
  @media (max-width: 1199px) {
    .we-are-creative-agency {
      display: block;
      text-align: center; }
      .we-are-creative-agency .we-are-creative-agency-container {
        width: 100%;
        display: block; }
        .we-are-creative-agency .we-are-creative-agency-container .purple-div {
          position: absolute;
          left: -200px;
          top: 0px;
          width: 100%;
          height: 50%;
          z-index: -1; }
        .we-are-creative-agency .we-are-creative-agency-container .creative-box-left {
          width: 100%;
          margin: 0 auto;
          padding-bottom: 150px; }
          .we-are-creative-agency .we-are-creative-agency-container .creative-box-left div {
            justify-content: center; }
            .we-are-creative-agency .we-are-creative-agency-container .creative-box-left div .box {
              width: 40%;
              padding: 5px; }
        .we-are-creative-agency .we-are-creative-agency-container .ipad-right {
          width: 100%;
          margin-top: -150px;
          justify-content: center; }
          .we-are-creative-agency .we-are-creative-agency-container .ipad-right img {
            margin: 5px 0px;
            height: 350px;
            width: 300px; } }

.we-are-creative {
  margin-top: 150px;
  margin-bottom: 150px;
  background-color: #ee5d30;
  display: flex;
  justify-content: center;
  height: 450px;
  align-items: center; }
  .we-are-creative .we-are-orange-container {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .we-are-creative .we-are-orange-container h1 {
      font-size: 3.125rem;
      color: #fff;
      width: 100%;
      margin: 0px;
      padding-left: 200px;
      display: flex;
      justify-content: flex-start;
      align-items: center; }
      .we-are-creative .we-are-orange-container h1 img {
        margin-left: 100px;
        transform: scale(1.1); }
  @media (max-width: 1199px) {
    .we-are-creative {
      display: block;
      text-align: center; }
      .we-are-creative .we-are-orange-container {
        width: 100%; }
        .we-are-creative .we-are-orange-container h1 {
          padding: 10px;
          flex-direction: column;
          line-height: 40px;
          font-size: 3.75rem; }
          .we-are-creative .we-are-orange-container h1 img {
            margin-top: 30px;
            height: 300px;
            margin: 30px;
            transform: scale(1); } }

.features {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: flex-start; }
  .features .features-head {
    padding-top: 0rem;
    background: #fff;
    width: 30%;
    min-width: 200px; }
    @media (max-width: 991px) {
      .features .features-head {
        width: 100%;
        margin-bottom: 1rem;
        text-align: center; } }
    .features .features-head .features-awesome {
      padding: 0 30px;
      color: #333333;
      letter-spacing: 1px;
      flex-wrap: wrap; }
      .features .features-head .features-awesome h1 {
        font-size: 3.1875rem; }
      .features .features-head .features-awesome button {
        height: 4.25rem;
        width: 13.4375rem;
        font-weight: bold;
        font-family: "Montserrat", sans-serif;
        font-size: 18px;
        border: none;
        color: white;
        background: #2f2339; }
  .features .features-logo {
    display: flex;
    position: relative;
    text-align: left;
    flex-wrap: wrap;
    width: 70%; }
    @media (max-width: 991px) {
      .features .features-logo {
        width: 80%;
        margin: 0 auto; } }
    @media (max-width: 575px) {
      .features .features-logo {
        justify-content: center; } }
    .features .features-logo .bg {
      background-color: #ee5d30;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 90%;
      height: 50%;
      display: none; }
      @media (max-width: 575px) {
        .features .features-logo .bg {
          display: block; } }
    .features .features-logo .logo-image {
      display: flex;
      justify-content: center;
      align-items: center;
      background: #fff;
      width: 5rem;
      height: 5rem;
      padding: 10px;
      border-radius: 100%; }
    .features .features-logo .logo-1 {
      padding: 2rem;
      min-width: calc(100% / 3);
      position: relative; }
      @media (max-width: 991px) {
        .features .features-logo .logo-1 {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column; }
          .features .features-logo .logo-1 .logo-image {
            padding: 0rem;
            width: 8rem;
            height: 8rem; }
            .features .features-logo .logo-1 .logo-image img {
              height: 40px;
              width: 40px; } }
      @media (max-width: 575px) {
        .features .features-logo .logo-1 {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column; }
          .features .features-logo .logo-1 .logo-image {
            padding: 0rem;
            width: 8rem;
            height: 8rem; }
            .features .features-logo .logo-1 .logo-image img {
              height: 20px;
              width: 20px; } }
      .features .features-logo .logo-1 h4 {
        letter-spacing: 2px;
        color: #fff; }
      .features .features-logo .logo-1 p {
        width: 12.5rem;
        margin-top: 3.75rem;
        font-size: 1.125rem;
        color: #949494; }
  .features .feature-bg {
    background-color: #ee5d30;
    position: absolute;
    top: 0;
    right: 0;
    height: 50%;
    width: 100%;
    z-index: -1; }
    @media (max-width: 575px) {
      .features .feature-bg {
        display: none; } }

/*# sourceMappingURL=style.css.map */
