.product-box {
    display: flex;
    justify-content: flex-end;
}

.product-image {
    height: rem(822);
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: flex-end;
    z-index: 2;
    img {
        margin-right: -150px;
    }
}

.product-details {
    background-color: $secondry-color;
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: rem(90);
    .product-details-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 50%;
        margin-bottom: rem(70);
    }
    h2 {
        margin: rem(11) 0;
        color: white;
    }
    .product-descriptions {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: rem(64);
        .product-description {
            margin-bottom: rem(80);
        }
        p,
        h3 {
            color: white;
            font-family: $font-default;
        }
        h3 {
            font-size: rem(24);

            @include mq('sm', max){
                font-size: 16px;
                font-weight: 700;
                padding: 10px 0;
            }
        }
    }
}

@include mq('lg', max) {
    .product-box {
        flex-wrap: wrap;
        .product-image {
            justify-content: center;
            flex-basis: 685px;
            height: 100%;
            align-items: normal;
            img {
                margin: 50px 0 -45px 0;
            }
        }
        .product-details {
            flex-basis: 660px;
            .product-details-container {
                align-items: center;
                width: 90%;
                .headings {
                    text-align: center;
                }
                .product-descriptions {
                    text-align: center;
                }
            }
        }
    }
}

@include mq('md', max) {
    .product-box {
        justify-content: center;
    }
    .product-image {
        max-width: rem(360);
        img {
            width: 100%;
            height: 100%;
        }
    }
}