//===========================================
    // -Buttons start
//===========================================

.btn {
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  &[disabled], &.disabled{
    cursor: not-allowed;
  }
}
.btn-primery-purple,.btn-primery-orange,.btn-global{
  padding: 22px 40px;
  font-weight: bold;
  font-family: $font-primery;
  font-size: 18px;
  border: none;
  color: white;
  @include mq('md', max){
   width:rem(280);
}
}
.btn-primery-orange:hover,.btn-primery-purple:hover,.btn-global:hover{
  background-color: $gray;
  color: white;
}
.btn-primery-orange{
 background-color: $primery-color;
}
.btn-primery-purple{
 background-color: $secondry-color;
}
//===========================================
    // -Buttons end
//===========================================
