//===========================================
    // -Buttons start
//===========================================

.btn {
  padding: 22px 40px;
  font-weight: bold;
  font-family: $font-primery;
  font-size: 18px;
  border: none;
  color: white;
  @include mq('md', max){
  padding: 18px 32px;
}
  &[disabled], &.disabled{
    cursor: not-allowed;
  }
  &:hover{
    background-color: $gray;
    color: white;
  }

}

.btn-primary{
 background-color: $primery-color;
}
.btn-secondry{
 background-color: $secondry-color;
}
//===========================================
    // -Buttons end
//===========================================
