//===========================================
// -Buttons start
//===========================================
.btn {
    padding: 22px 40px;
    font-weight: bold;
    font-family: $font-primery;
    font-size: 18px;
    border: none;
    color: white;

    @include mq('lg', max) {
        font-size: 14px;
    }

    @include mq('md', max) {
        padding: 18px 32px;
    }
    &[disabled],
    &.disabled {
        cursor: not-allowed;
    }
    &:hover {
        color: white;
    }
}

.btn-primary {
    background-color: $primery-color;
    &:hover{
        background-color: darken($primery-color, 10%);
    }

    &:active{
        background-color: lighten($primery-color, 15%);
    }
}

.btn-secondry {
    background-color: $secondry-color;
    &:hover{
        background-color: lighten($secondry-color, 10%);
    }

    &:active{
        background-color: lighten($secondry-color, 15%);
    }
}

//===========================================
// -Buttons end
//===========================================