//===========================================
	// -Helper Classes start
//===========================================

.text-center{
	text-align: center;
}
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

//===========================================
	// -Helper Classes end
//===========================================
