//===========================================
	// -Home Page start
//===========================================
.we-r-creative-agency {
	width: 100%;
	height: 1000px;
	background-color: #0000007a;
}
//===========================================
	// -Home Page end
//===========================================
