//===========================================
// -Home Page start
//===========================================

//features container

.features {
	display: flex;
	position: relative;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-top: rem(85);


	.features-head {

		padding-top: rem(15);
		padding-left: rem(20);
		background: $white;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		flex-direction: column;
		width: 25%;

		@include mq('xl', max) {
			width: 100% !important;
			margin-bottom: rem(16);
			padding-right: rem(20);
			text-align: center;
			justify-content: center;
		}

		.features-heading {
			color: #333333;
			letter-spacing: 1px;

			.btn {
				margin-top: rem(20);
			}
		}
	}

	//features logos

	.features-logo {
		display: flex;
		position: relative;
		text-align: left;
		flex-wrap: wrap;
		width: 70%;



		@include mq('xl', max) {
			width: 100%;
			margin: 0 auto;
			padding: 0;
		}

		@include mq('sm', max) {
			justify-content: center;
		}

		.logo-image {
			display: flex;
			justify-content: center;
			align-items: center;
			background: $white;
			width: 5rem;
			height: 5rem;
			padding: 10px;
			border-radius: 100%;
		}


		.logo {
			padding: 2rem;
			min-width: calc(100% / 3);
			position: relative;

			@include mq('lg', max) {
				padding: 1rem;
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;

				.logo-image {
					padding: 0rem;
					width: 8rem;
					height: 8rem;

					img {
						height: 40px;
						width: 40px;
					}
				}

				p {
					text-align: center;
				}

				.bg {
					background-color: $primery-color;
					position: absolute;
					top: 0;
					z-index: -1;
					width: 90%;
					height: 50%;
					display: none;

					@include mq('sm', max) {
						display: block;
					}
				}
			}

			@include mq('sm', max) {
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;

				.logo-image {
					padding: 0rem;
					width: 8rem;
					height: 8rem;

					img {
						height: 20px;
						width: 20px;
					}
				}
			}


			h4 {
				letter-spacing: 2px;
				color: $white;
				padding: rem(10);
			}

			p {
				width: rem(200);
				margin-top: rem(60);
				font-size: rem(18);
				color: #949494;
			}
		}

	}

	.feature-bg {
		background-color: $primery-color;
		position: absolute;
		top: 0;
		right: 0;
		height: 50%;
		width: 100%;
		z-index: -1;

		@include mq('sm', max) {
			display: none;
		}
	}
}

























//===========================================
// -Home Page end
//===========================================