
.features {
    display: flex;
    position: relative;

    .features-head {
        display: flex;
        padding-top: rem(50);
        background: $white;
    }


    .features-awesome {
        justify-content: flex-start;
        padding: 0 20%;
        width: 40%;
        color: #333333;
        letter-spacing: 1px;
        flex-wrap: wrap;
    }

    h1 {
        font-size: rem(51);
    }

    button {
        height: rem(68);
        width: rem(215);
        font-weight: bold;
        font-family: $font-primery;
        font-size: 18px;
        border: none;
        color: white;
        background: $secondry-color;
    }

    .features-logo {
        display: flex;
        justify-content: center;
        position: relative;
        text-align: left;

        .logo-image {
            background: $white;
            width: 5rem;
            height: 5rem;
            border-radius: 100%;
            text-align: center;
        }

        .logo-image img {
            height: 40px;
            width: 40px;
            padding-top: 1.25rem;

        }

        .logo-1 {
            margin: rem(80);

            h4 {
                letter-spacing: 2px;
                color: $white;
            }

            p {
                width: rem(200);
                margin-top: rem(60);
                font-size: rem(18);
                color: #949494;
            }
        }

    }

    .feature-bg {
        background-color: $primery-color;
        position: absolute;
        top: 0;
        right: 0;
        height: 250px;
        width: 100%;
        z-index: -1;
    }
}