//===========================================
// -Footer start
//===========================================
footer{
	// Thanks Greeting Start
	.thanks-greeting{
		font-family: $font-primery;
		color: $white;
		background-image: url('../images/footer-img.jpg');
		background-position: center;
		background-size: cover;
		// height: 100%
		
		.container{
			margin: 0 auto;
			padding: rem(118) 0;
			
			h2{
				font-size: rem(51);
				font-weight: 600;
				margin: rem(33) 0;
				
			}
			
			h4{
				font-size: rem(33);
				font-weight: 600;
				margin: rem(33) 0;
			}
			
			p{
				font-family: $font-default;
				font-size: rem(20);
				padding: 0 rem(230);
				font-weight: 300;
			}
		}
	}
	// Thanks Greeting End
	
	// Contact Section Start
	.contact{
		
		.container{
			margin: 0 auto;
			
			.contact-info{
				
				h3{
					font-family: $font-default;
					font-size: rem(18);
					text-transform: uppercase;
					font-weight: 900;
				}
			}
		}
		
	}
	// Contact Section End
}
//===========================================
// -Footer end
//===========================================
