//===========================================
// -Header start
//===========================================
.banner{
	background-image: url("../images/header-bg.png");
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: rem(1012);
	.layout{
		background-color: rgba(0,0,0,0.6);
		height:rem(1012);
		width: 100%;
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}
	.header-content{
		max-width:rem(700);
		padding-right: rem(236);
		margin-right: rem(200);
		h1{
			color: white;
			font-size:rem(100);
			margin: 0;
			padding: 0;
			line-height: 85px;
			font-family: $font-primery;
		}
		p{
			font-size: rem(18);
			color: white;
			padding-bottom: rem(38);
			padding-top: rem(68);
			line-height: rem(28);
			font-family: $font-default;
		} 
	}
}
.about-company{
	display: flex;
	justify-content: center;
	.side-image{
		width: 40%;
	}
	.text{
		background-color: #2f2339;
		width:60%;
		height: rem(824);
		display: flex;
		justify-content: center;
		align-items: center;
		padding-right: rem(336);
		.ab-content{
			width: rem(574);
			margin-left: rem(186);
			h1{
				color: white;
				font-size: rem(51.26);
			}
			.top{
				color: white;
				font-size: rem(18);	
				line-height: rem(28);
				padding-bottom: rem(22);	
			}
			.bottom{
				color: white;
				font-size: rem(18);
				padding-bottom: rem(70);
				line-height: rem(30);
			}
		}
	}
}

//===========================================
// -Header end
//===========================================
