//===========================================
// -Header start
//===========================================
.banner{
	background-image: url("../images/header-bg.png");
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: rem(1012);
	.layout{
		background-color: rgba(0,0,0,0.6);
		height:rem(1012);
		width: 100%;
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}
	.header-content{
		max-width:rem(700);
		padding-right: rem(236);
    margin-right: rem(200);
    @include mq('sm', max){
      max-width: 100%;
      margin-left: 26px;
      text-align: left;
      margin-right: 0px; 
    }
		h1{
			color: white;
			font-size:rem(100);
			margin: 0;
			padding: 0;
			line-height: 85px;
      font-family: $font-primery;
      @include mq('sm', max){
        font-size: 35px;
        line-height: 40px;
      }
    }
		p{
			font-size: rem(18);
			color: white;
			padding-bottom: rem(38);
			padding-top: rem(68);
			line-height: rem(28);
      font-family: $font-default;
      @include mq('sm', max){
        font-size: 15px;
        padding-top: 1.1875rem;
        line-height: 15px;
      }
		} 
	}
}
.about-company{
	display: flex;
	justify-content: flex-end;
  background-image: url("../images/banner-image.png");
	.text{
		background-color: #2f2339;
		width:60%;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 100px 20px 100px 0px;
    @include mq(sm, max){
      width: 80%;
      padding-right: 1rem;
    }
		.ab-content{
			width: rem(574);
      @include mq('sm', max){
        margin-left: 22px;
      }
			h1{
				color: white;
				font-size: rem(51.26);
			}
			.top{
				color: white;
				font-size: rem(18);	
				line-height: rem(28);
        padding-bottom: rem(22);	
        @include mq('sm', max){
          font-size: 13px;
        }
      }
			.bottom{
				color: white;
				font-size: rem(18);
				padding-bottom: rem(70);
        line-height: rem(30);
        @include mq('sm', max){
          font-size: 13px;
          padding-bottom: 15px;
        }
			}
		}
	}
}
//===========================================
// -Header end
//===========================================
