.showcase-box{
    display: flex;
    flex-wrap: wrap;
}
.showcase-images{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .showcase-images-container{
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        margin: rem(98) rem(12) rem(98) 0;
    }
    .showcase-image{
        width: rem(282);
        margin: 0 rem(15);
        h3,p{
            color: black;
            font-family: $font-default;
        }
        p{
            line-height: 30px;
            font-size: 18px;
        }
    }

    img{
        width: rem(282);
        height: rem(188);
    }
}
.showcase-description{
    flex: 1;
    flex-basis: 353px;
    background-color: $primery-color;
    .showcase-description-container{
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;
        margin-left: 12px;
    }
.showcase-detail{
    width: rem(380);
    h1{
        font-family: $font-primery;
        font-weight: 600;
        font-size: rem(51);
        color: white;
        margin: rem(11) 0;
    }
    
    .showcase-details{
        h3,p{
            color: white;
            font-family: $font-default;
        }
        p{
            line-height: 30px;
            font-size: 18px;
        }
        
    }
}
}
@include mq('lg',max){
    .showcase-description{
        width: 100%;
        flex: none;
        justify-content: center;
        align-items: center;
        .showcase-description-container{
            width: 100%;
            margin-left: 0;;
            .showcase-detail{
                width: 100%;
                margin: 12px 0;
                .headings,.showcase-details{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                    button{
                        font-size: 12px;
                    }
                }
            }
        }
    }
    .showcase-box{
        .showcase-images{
            .showcase-images-container{
                justify-content: center;
            }
        }

    }

}